{% extends 'base.html' %}

{% block content %}

{% if group_list %}

<h3>
    <a href="{% url 'group:create_group' %}">Add new group!</a>
</h3>
<ul>

    {% for item in group_list %}
    <li>
        <ol>
            <li><h4><a href="{% url 'group:group' pk=item.pk %}">Group: "{{ item.name }}"</a></h4></li>
            <li>owner {{ item.owner }}</li>
            <li>created_date {{ item.created_date }}</li>
        </ol>
    </li>
    {% endfor %}
</ul>
fs{% else %}
<h3>
    No groups!
</h3>
{% endif %}

{% endblock %}