{% extends 'base.html' %}

{% block content %}

<h4><a href="{% url 'post:create_post' %}">Create New Post!</a></h4>
{% if post_list %}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css">
<div class="container blog-page">
    <div class="row clearfix">
{% for item in post_list %}

<div class="col-lg-4 col-md-12">
    <div class="card single_post">
        <div class="header">
            <h2> Category: <strong>{{ item.group.all }}</strong></h2>
        </div>
        <div class="body">
            <h3 class="m-t-0 m-b-5"><a href="blog-details.html">Title: {{ item.title }}</a></h3>
            <ul class="meta">
                <li><a href="javascript:void(0);"><i class="zmdi zmdi-account col-blue"></i>Posted By: {{ item.author.get_full_name }}</a></li>
                <li><a href="javascript:void(0);"><i class="zmdi zmdi-label col-amber"></i>{{ item.create_date|date:"SHORT_DATE_FORMAT" }}</a></li>
                <li><a href="javascript:void(0);"><i class="zmdi zmdi-comment-text col-blue"></i>Comments: 3</a></li>
            </ul>
        </div>
        <div class="body">
            <div class="img-post m-b-15">
                <img src="{{ item.image.url }}" alt="Awesome Image" >
                <div class="social_share">
                    <button class="btn btn-primary btn-icon btn-icon-mini btn-round"><i class="zmdi zmdi-facebook"></i></button>
                    <button class="btn btn-primary btn-icon btn-icon-mini btn-round"><i class="zmdi zmdi-twitter"></i></button>
                    <button class="btn btn-primary btn-icon btn-icon-mini btn-round"><i class="zmdi zmdi-instagram"></i></button>
                </div>
            </div>
            <p>text: {{ item.text }}</p>
            <a href="{% url 'post:post' pk=item.pk %}" title="read more" class="btn btn-round btn-info">Read More</a>
        </div>
    </div>
</div>
    {% endfor %}
{% else %}
<h3>
    No Posts
</h3>
{% endif %}


{% endblock %}